@media (min-width: 768px) {
  header div#navbarCollapse {
    margin-top: -80px;
    margin-left: -90px; }
  main .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: column; }
  main .navbar-expand-md .navbar-collapse {
    display: inline-block !important; } }

@media (max-width: 767px) {
  header .navbar-brand {
    max-width: 320px; }
  main div#menuCollapse {
    max-width: 100%;
    padding: 10px 15px 15px 0; } }
