main {
    .album {
        background: aliceblue;
        .navbar {
            display: flow-root;
            .navbar-toggler {
                outline: 0;
                &:hover {
                    cursor: pointer;
                    color: rgba(0,0,0,1.0);
                    border-color: rgba(0,0,0,.5);
                }
            }
            div#menuCollapse {
                max-width: 100%;
                @media (max-width: 767px) {
                    max-width: 100%;
                    padding: 10px 15px 15px 0;
                }
            }
            @media (min-width: 768px) {
                .navbar-collapse {
                    display: inline-block !important;
                }
                .navbar-nav {
                    -ms-flex-direction: column;
                    flex-direction: column;
                }
            }
        }
        .album-back {
            background: white;
            .card {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
}